@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>BTC</h3>
    <p id="BTCNOK"></p>
    <h3>LTC</h3>
    <p id="LTCNOK"></p>
    <h3>ETH</h3>
    <p id="ETHNOK"></p>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalrconnection.js"></script>